

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'users/profile', user: @user %>
			<%= render 'books/sidebar', book: @book_new %>
		</div>
		<div class="col-md-9">
			<h2>Book Detail </h2>
			<table class="table">
				<tr><th>
					<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
				</th><th>
					<%=@book.title %>
				</th><th>
					<%= @book.opinion %>
				</th><th>
					<button type="button" class="btn btn-success">
						<%= link_to "edit", edit_book_path(@book.id) %>
					</button>
				</th><th>
					<button type="button" class="btn btn-danger">
						<%= link_to "delete", book_path(@book.id),method: :delete ,"data-confirm" =>"Are you sure?" %>
					</button>
				</th></tr>
			</table>
		</div>
	</div>
</div>



