

<div class="container">
	<div class="row">
		<div class="col-xs-3 col-md-3">
			<%= render 'users/profile', user: @user %>
			<%= render 'books/sidebar', book: @book_new %>
		</div>
		<div class="col-xs-9 col-md-9">
			<h2>Book detail </h2>
			<table class="table">
				<tr><th>
					<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%><br>
					<ul class="colored">
					<%= link_to @user.name, user_path(@user.id)%>
				</ul>
				</th><th>
					<%=@book.title %>
				</th><th>
					<%= @book.body %>
				</th>
					<% if @book.user == current_user %>
						<th>
							<%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success"%>
						</th><th>
								<%= link_to "Destroy", book_path(@book.id),method: :delete ,"data-confirm" =>"Are you sure?", class:"btn btn-danger" %>
					<% end %>
				</th></tr>
			</table>
		</div>
	</div>
</div>



