
<div class="container">
	<div class="row">
		<div class="col-xs-3 col-md-3">
			<%= render 'users/profile', user: @user %>
			<%= render 'books/sidebar', book: @book_new %>
		</div>
		<div class="col-xs-9 col-md-9">
			<h2>Book detail </h2>
			<table class="table">
				<tr><th>
					<div class ="author">
						<%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"%><br>
						<div class="colored">
						<%= link_to @user.name, user_path(@user.id)%>
						</div>
					</div>
				</th><th>
					<%=@book.title %>
				</th><th>
					<%= @book.body %>
				</th>
				<%= render 'favorites/favorite', book: @book %>
				<td>
					<span class="comment-count">コメント: <%= @book.book_comments.count %></span>
				</td>
					<% if @book.user == current_user %>
						<th>
							<%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success btn-sm"%>
						</th><th>
								<%= link_to "Destroy", book_path(@book.id),method: :delete ,"data-confirm" =>"Are you sure?", class:"btn btn-danger btn-sm" %>
					<% end %>
				</th></tr>
			</table>
			<% @book.book_comments.each do |book_comment| %>
					<div class = "comment-box clearfix">
						<div class = "user">
							<div class = "avatar">
								<%= attachment_image_tag(@book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
							</div>
							<div class ="name">
								<%= book_comment.user.name %>
							</div>
						</div>
						<div class = "comment-left">
							<div class="comment-text">
								<%= book_comment.comment %>
							</div>
							<div class ="delete-comment">
								<% if book_comment.user == current_user %>
								<%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn btn-danger btn-sm" %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			<%= form_for [@book, @book_comment] do |f| %>
				<%= f.text_field :comment, class:"comment-submit" %>
				<%= f.submit '送信' %>
			<% end %>
		</div>
	</div>
</div>




