<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3>User info</h3>
			  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
			<table class="table">
			  <tr><td>
			  	<h5 class="profile-name">name</h5>
			  </td><td>
			  	<%= @user.name %>
			  </td></tr>
			  <tr><td>
					<% if @user.id == current_user.id %>
					<h5 class="profile-introduction">Introduction </h5>
				</td><td>
				  <%= @user.introduction %>
				  <% end %>
				</td></tr>
				<tr><td>
					<button type="button" class="btn btn-outline-secondary btn-block">
						<%= link_to edit_user_path(@user) do %><i class="fas fa-wrench"></i>
						<% end %>
					</button>
			  </td></tr>
			</table>
			<h3> New Book </h3>
			<%= form_for(@book_new) do |f| %>
			<h5>タイトル</h5>
			<%= f.text_field :title %>
			<h5>Opinion</h5>
			<%= f.text_area :opinion %>
			<%= f.submit 'Create Book' %>
			<% end %>
		</div>
		<div class="col-md-9">
			<h2>Book Detail </h2>
			<table class="table">
			<tr><th>
			<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
			</th><th>
				<%=@book.title %>
			</th><th>
				<%= @book.opinion %>
			</th><th>
				<button type="button" class="btn btn-success">
					<%= link_to "edit", edit_book_path(@book.id) %>
				</button>
			</th><th>
				<button type="button" class="btn btn-danger">
					<%= link_to "delete", book_path(@book.id),method: :delete ,"data-confirm" =>"Are you sure?" %>
				</button>
			</th></tr>
		</div>
	</div>
</div>


