<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/188b0a3462.js" crossorigin="anonymous"></script>
    <link rel ="stylesheeet" href="default.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Bookers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav-icon">
        <ul class="navbar-nav ">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to user_path(current_user.id) ,class:"nav-link" do%>
              <i class="fas fa-home">Home</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path ,class:"nav-link" do%>
              <i class="fas fa-user">User</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to books_path ,class:"nav-link" do%>
              <i class="fas fa-book">Books</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, class:"nav-link", :method =>:delete do%>
                <i class="fas fa-sign-out-alt"></i>Log out
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to root_path,class:"nav-link" do%>
              <i class="fas fa-home">Home</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to homes_path ,class:"nav-link" do%>
              <i class="fas fa-link">About</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path ,class:"nav-link" do %><i class="fas fa-user-plus">Sign up </i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path ,class:"nav-link" do%>
                <i class="fas fa-sign-in-alt">Log in</i>
              <% end %>
            </li>
          <% end %>
        </ul>
        </div>
      </div>
    </nav>
    <%= yield %>


    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </body>
</html>
